---
---

@import "{{ site.theme }}";

body {
  background-image: none;
  background-color: #fbfbfb;
}

#banner {
  display: none;
}

table th, table td {
  border-color: #666666;
}

table td:first-child {
  border-color: #333333;
}
